<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega</title>
</head>
<body>
    <h1>Hola, como estas? Te cuento el contenido de la database de mi familia:</h1>
    {% for familiar in familia %}
   <h3> Mi familiar se llama {{familiar.name}}<br>
    Nacio el {{familiar.birth}}<br>
    Tiene {{familiar.age}} anios<br></h3>
    {% endfor %}
</body>
</html>